.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/images/imgc.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .loginForm {
    width: 80% !important;
    height: 40% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login_container button {
    width: 40%;
    top: 10px;
    position: relative;

    left: 100px;
  }
  .startC {
    width: 90% !important;
    height: 20%;
  }
  .startC > div {
  }
}
